<div class="container dash-border w-100 border border-dark border-rounded p-2">
  <div class="row d-flex align-items-center mx-0">
    <div class="col-1 px-0"><i-feather name="file-text"></i-feather></div>
    <div class="col-10 px-2 d-flex flex-column">
      <p class="text-truncate mb-2">{{ fileUpload.name }}</p>
      <p class="mb-2">{{ fileUpload.file.size / 10 }}MB</p>
    </div>
    <div class="px-0 col-1">
      <i-feather *ngIf="$percentage == 100; else trashIcon;" name="check-circle" class="text-success"></i-feather>
      <ng-template #trashIcon>
          <i-feather name="trash-2" class="text-danger cursor" (click)="cancelUpload()"></i-feather>
      </ng-template>
    </div>
  </div>
  <div class="row mx-0 w-100">
    <div class="progress w-100">
      <div
        class="progress-bar"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: ($percentage || 2) + '%' }"
      ></div>
    </div>
  </div>
</div>
