<div class="container dash-border w-100 border border-dark border-rounded">
  <div class="row d-flex align-items-center">
    <div class="col-3"><i-feather name="file-text"></i-feather></div>
    <div class="col-6 d-flex flex-column">
      <p>{{(fileUpload).name}}</p>
      <p>{{(fileUpload).file.size}}MB</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': ($percentage) + '%'}"></div>
    </div>
      </div>
    <div class="col-3">ICON</div>
  </div>
</div>
